<!-- <div class="topnav" id="topnav">
    <a class="active home" href="/src/index.html">Home</a>
    <a class="about" href="#about">About</a>
    <a class="contact" href="#contact">Contact</a>
    <div class="search">
      <form id="searchForm" action="./search_pages/index.html">
        <input
          id="searchFormInput"
          type="text"
          name="category"
          placeholder="Search category..."
        />
        <button class="searchButton">Search</button>
      </form>
    </div>
  </div> -->
  

  <div class="topnav">
    <a class="active" href="/index.html">Home</a>
    <a href="/shop.html">Shop</a>
    <a href="/about.html">About</a>
  </div>